venv/
**/__pycache__/
*.pyc
.DS_Store
dependencies/
*.egg-info/
.env
modules/
notes/
build/
dist/
kaibrowser.spec
kaibrowser-linux.tar.gz
appimagetool-x86_64.AppImage 
KaiBrowser-1.0.9-x86_64.AppImage 
AppDir
